<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqc.portal.mapper.InviteCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cqc.portal.api.model.InviteCode">
        <id column="id" property="id" />
        <result column="invite_code" property="inviteCode" />
        <result column="user_id" property="userId" />
        <result column="expire" property="expire" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
