<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqc.portal.mapper.UserWithdrawMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cqc.portal.api.model.UserWithdraw">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount" />
        <result column="bank_name" property="bankName" />
        <result column="card_no" property="cardNo" />
        <result column="bank_logo" property="bankLogo" />
        <result column="type" property="type" />
        <result column="cost" property="cost" />
        <result column="status" property="status" />
        <result column="third_trade_no" property="thirdTradeNo" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="success_time" property="successTime" />
    </resultMap>

</mapper>
