<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqc.portal.mapper.UserDateIncomeMapper">

    <select id="queryAgentIncome" resultType="com.cqc.model.UserDateIncome">
        select udi.user_id, sum(udi.income) as income , sum(udi.team_income) as team_income
        from user_date_income udi
        where udi.user_id in
        <foreach item="item" collection="userIds" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        <if test="date != null and date !='' ">
            and udi.date = #{date}
        </if>
        group by udi.user_id
    </select>

    <update id="updateIncome">
        insert into user_date_income(user_id, `date`, ref_user_id, user_account, income, team_income)
        VALUES(#{userId}, #{date}, #{refUserId}, #{userAccount}, #{income} , #{teamIncome})
        on DUPLICATE key update income = income + #{income}, team_income = team_income + #{teamIncome};
    </update>
</mapper>